{% extends 'layout.html' %} {% include 'header.html' %} {% block title %} Home
{% endblock %} {% block body %}
<div class="flex p-4 m-6 justify-center">
  <form
    id="loginform"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
    method="POST"
  >
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username"
        name="username"
        type="text"
        placeholder="username"
        required="required"
      />
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        id="password"
        name="password"
        type="password"
        placeholder="password"
        required="required"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Sign In
      </button>
    </div>
    <div id="BadLogin" class="bad_login">
      <p>
        The login information you entered does not match an account in our
        records. Please try again.
      </p>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    var badLogin = document.getElementById("BadLogin");
    badLogin.style.display = "none";
    $("#loginform").submit(function (e) {
      // console.log($(this).serialize());
      // var temp_data = $(this).serialize();
      // console.log(temp_data);
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: "/auth",
        data: $(this).serialize(),
        success: function (response) {
          var jsonData = JSON.parse(JSON.stringify(response));
          console.log(jsonData);
          // window.location.href = "/home";

          if (jsonData.success == "1") {
            window.location.href = "/home";
          } else {
            alert("Invalid Credentials!");
          }
        },
        error: function (response) {
          badLogin.style.display = "block";
          setTimeout(function () {
            badLogin.style.display = "none";
          }, 3000);
        },
      });
    });
  });
</script>
<!-- </html> -->
{% endblock %}
