{% extends 'layout.html' %} {% include 'header.html' %} {% block title %} Home
{% endblock %} {% block body %}

<!-- 
Проблемы:
1. составляющие запроса передаются в строке как uri
2. можно отправить форму обновления без заполнения поля
3. проверка на required стоит, но форма все равно отправляет данные 

-->
<div class="container">
  <div class="row">
    <div class="col md-12">
      <div class="jumbotron">
        <div class="col-2 mt-2">
          <button
            id="log_out_button"
            type="button"
            class="btn btn-primary mt-4"
          >
            Log out
          </button>
        </div>
        <table class="table" id="data_table">
          <thead>
            <tr>
              <th>global_id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Username</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {%for person in persons%}
            <tr>
              <td>{{person.global_id}}</td>
              <td>{{person.first_name}}</td>
              <td>{{person.last_name}}</td>
              <td>{{person.email}}</td>
              <td>{{person.username}}</td>
              <td>{{person.status}}</td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {

    $("#log_out_button").click(function () {
      $.ajax({
        url: "/logout",
        type: "GET",
        dataType: "json",
        contentType: "application/json",
        // statusCode: function (response) {
        //   window.location.href = "/login";
        // },
        success: function (response) {
          var jsonData = JSON.parse(JSON.stringify(response));
          window.location.href = "/login";
        },
        error: function (response) {
          console.log(response);
        },
      });
    });
  });
</script>

{% endblock %}
